.about {
    margin-bottom: 50px;
    padding: 20px;
}

.about__container {
    margin-bottom: 30px;
}

.about .card {
    width: 100%;
    min-height: 480px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--box-color-light);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 25px;
}

.customers__image {
    width: 25px;

}

.about .card__title {
    margin-top: 30px;
    font-size: 32px;

}

.about .card__paragraph {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--box-color-dark);
}

.card__button-read-more {
    font-size: 16px;
    font-weight: 700;
    padding: 6px 12px 6px 12px;
    background-image: linear-gradient(to right, var(--box-color-light), var(--box-color-dark));
    border-radius: 20px;
    margin-left: 20px;
    transition: 0.4s;

}

.card__button-read-more:hover {
    font-size: 18px;
    ;
    padding: 8px 16px 8px 16px;
    border-radius: 25px;
    transition: 0.4s;
    margin-left: 14px;
}

.image-container {
    width: 70px;
    height: 70px;
    background-color: var(--box-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card-image {
    width: 65%;
}

.about .customers .customers__image {
    width: 100%;
    display: block;
    box-shadow: -300px 200px 80000px var(--color-for-shadow);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

#grandsize {
    font-size: 90px;
    font-weight: 600;
    text-align: left;
}

.customers__title {
    margin-top: 30px;
    font-size: 28px;
}

.customers__paragraph {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width:625px) {
    .about__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: center;
    }
   
    .about .card {
        width: 98%;
        margin: auto;    
    }
    #nutr-card {
        grid-area: 2/1/3/3;
        margin-top: 10px;
    }
    #exp-card {
        grid-area: 1/1/2/2;
    }
    #coach-card {
        grid-area: 1/2/2/3;
    }
}
@media (min-width:860px) {
    .about__customers {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    .customers__image {
        margin-top: 80px;
    }
    .customers__container {
        padding-right: 10px;
    }

}
@media (min-width:1020px) {
    .about__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    #nutr-card {
        grid-column: 3/4;
        grid-area: auto;
        margin-top: 0px;
    }
    #exp-card {
        grid-column: 1/2;
    }
    #coach-card {
        grid-column: 2/3;
    }
}