.career__image {
    display: block;
    
    width: 100%; 
}
.career__joblist {
    margin: 20px;
}

.career__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.career__paragraph {
    font-size: 18px;
    font-weight: 300;
}

.career__slider {
    display: flex;
    align-items: center;
    padding: 20px;
    max-height: 400px;
}

.career__table {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.career__table-header {
    font-size: 16px;
    padding: 9px;
    border: 3px solid var(--box-color-dark);
    border-radius: 15px;
}

.career__table-item {
    font-size: 15px;
    padding: 9px;
    border: 3px solid var(--box-color-light);
    border-radius: 15px;
}

.slider__button {
    height: 25px;
    margin: 10px;
}

.career__slide {
    width: 0%;
}

.active-slide {
    width: 100%;
}



@media (min-width:860px) {
    .career__table-header {
        font-size: 20px;
    }
    .career__table-item {
        font-size: 18px;
    }
    #career {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
    }
    .career__table {
        grid-area: 2/1/3/3;
    }
    .career__slider {
        grid-area: 1/2/2/3;
    }
    .career__joblist{
        grid-area: 1/1/2/2;
    }
}


