* {
    --background-color: #06293DFF;
    --background-color-dark: #031723;
    --box-color-light: #47B5FFFF;
    --box-color-dark: #256D85FF;
    --text-color: #DFF6FEFF;
    --max-page-width: 1280px;
    box-sizing: border-box;
    margin: 0px;
}    
a {
    color: var(--text-colol);
    text-decoration: none;
}
:root {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

.general {
    font-size: 64px;
    line-height: 1;
}

main section {
    max-width: var(--max-page-width);
    margin-left: auto;
    margin-right: auto;
}