.contacts__title {
    font-size: 46px;
    font-weight: 700;
}

.contacts {
    max-width: 100%;
    background-color: var(--background-color-dark);

}

.contacts-container {
    padding: 20px;
    max-width: var(--max-page-width);
    margin-left: auto;
    margin-right: auto;
}

.contacts__aplicant-form>div {
    display: flex;
    flex-direction: column;
}

.contacts__aplicant-form>div.container-file {
    display: block;
}

.aplicant-form__input,
.aplicant-form__file-lable {
    background-color: var(--background-color);
    padding: 10px 25px 10px 25px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--box-color-dark);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

::-webkit-input-placeholder {
    color: var(--text-color);
}

.container-message .aplicant-form__input {
    height: 210px;
}

.aplicant-form__file-lable {
    display: block;
    width: 100%;
}

#file {
    display: none;
}

.aplicant-form__submit-form {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
    background-image: linear-gradient(to right, var(--box-color-light), var(--box-color-dark));
    border-radius: 24px;
    border-width: 0px;
    color: var(--text-color);
}

.aplicant-form__lable {
    font-size: 1.2rem;
    font-weight: bold;
}

.aplicant-form__text {
    margin-top: 15px;
}

@media (min-width:860px) {
    .contacts__aplicant-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .container-name {
        grid-area: 1/1/2/2;
        padding-right: 20px;
    }

    .container-email {
        grid-area: 1/2/2/3;
        padding-right: 20px;
    }

    .container-phone {
        grid-area: 1/3/2/4;
    }

    .container-message {
        grid-area: 2/1/3/4;
    }

    .container-file {
        grid-area: 3/1/4/3;
    }

    .aplicant-form__submit-form {
        margin: 60px;
        grid-area: 3/3/4/4;
    }

}