--background-color:#06293DFF;
--box-color-light:#47B5FFFF;
--box-color-dark:#256D85FF;
--text-color:#DFF6FEFF;
@import url(common.css);
@import url(header.css);
@import url(about-section.css);
@import url(price-section.css);
@import url(career-section.css);
@import url(contacts-section.css);
@import url(footer.css);